<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
    
        <div>
            <h1> Admin Login </h1>
            <input type="text" id="email" placeholder="email"/>
            <input type="text" id="password" placeholder="password"/>
            <button type="button" id="login">login</button>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


        <form action="../View/login.html">
            <input type="submit" value="User login?" />
        </form> 
    </body>
    <script src="../Model/user.js"></script>
    <script src="js/adminLogin.js"></script>

</html>

