<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Controlpanel</title>
</head>
<body>
    <p>
        <span class="logout">
            <button id="logout" type="button"> <a href="adminLogin.html">Log Out</a></button>
        </span>
    </p>
    <p>
        <span class="update">
            <button id="update" type="button"> <a href="userStatistics.html">User statistics</a></button>
        </span>
    </p>
    <p>
        <span class="update">
            <button id="update" type="button"> <a href="editUsers.html">Edit users</a></button>
        </span>
    </p>
    

    

</body>
<script src="../View/js/adminLogout.js"></script>
</html>