<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit users</title>
</head>
<body>
    <p>
        <span class="update">
            <input type="text" id="id1" placeholder="ID"/>
            <button id="id2" type="button"> <a href="editUsers.html">Edit user</a></button>
        </span>
    </p>
<br>


<div id="user" class="match"></div>
<br>
<br>
<form action="../View/adminControlpanel.html">
    <input type="submit" value="Go back" />
</form> 
    
    
    
</body>

<script src="../HTML/js/getUsersAdmin.js"></script>

</html>