<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
    
        <div>
            <h1> login </h1>
            <input type="text" id="email" placeholder="email"/>
            <input type="text" id="password" placeholder="password"/>
            <button type="button" id="login">login</button>
        </div>
<br>
    <form action="../View/signup.html">
        <input type="submit" value="No user yet? Go to signup :D" />
    </form> 

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <form action="../View/adminLogin.html">
        <input type="submit" value="Admin?" />
    </form> 
    </body>


    <script src="js/login.js"></script>
    <script src="../login/index.js"></script>

</html>

