<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
</head>
<body>
    <h1>
        <button id="logout">Log Out</button>
        <button id="delete">Delete Profile</button>
        <p>
            <span class="update">
                <button id="update" type="button"> <a href="update.html">Edit Profile</a></button>
            </span>
        
        </p>
        <p>
            <span class="possibleMatches">
                <button id="possibleMatches" type="button"> <a href="possibleMatches.html">Possible Matches</a></button>
            </span>
        
        </p>
    </h1>

    <span class="myMatches">
        <button id="myMatches" type="button"> <a href="matches.html">My Matches</a></button>
    </span>

    
    
</body>
<script src="../Model/user.js"></script>
<script src="../View/js/logout.js"></script>
<script src="../View/js/delete.js"></script>

</html>