<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Possible Matches</title>
</head>
<body>
    <h1>
        This is your possible matches
    </h1>

    <p style="color: white;">ID: </p>
    <div id="id" class="match" style="color: white;">

    </div>
    <br>

    Name:
    <div id="user" class="match">

    </div>

    <br>

    Description:
    <div id="description" class="match">

    </div>
    <br>

    Zipcode:
    <div id="zipCode" class="match">

    </div>
    <br>

    Gender:
    <div id="genderId" class="match">

    </div>
    <br>

    Toothbrush Color:
    <div id="toothbrushId" class="match">

    </div>
    <button id="like">Like</button>
    <button id="dislike">Dislike</button>

<br>
<br>

    <form action="../View/myProfile.html">
        <input type="submit" value="Go back" />
    </form> 


</body>
<script src="../View/js/user.js"></script>
<script src="../View/js/possibleMatches.js"></script>

</html>