<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Statistics</title>
</head>
<body>

<div id="amount">
    Total amount of users:
    <button id="usersBTN">Get all users</button>
    <div id="totalUsers">

    </div>
</div>
<br>


<div id="amount">
    Total amount of matches:
    <button id="matchesBTN">Get all matches</button>
    <div id="totalMatches">

    </div>
</div>
<br>
<br>


<form action="../View/adminControlpanel.html">
    <input type="submit" value="Go back" />
</form>    
</body>
<script src="js/userStatistics.js"></script>

</html>